<div class="todo-container">
  <h2>Todo List</h2>
  <input
    *appPermission="'canCreate'"
    type="text"
    placeholder="Add todo"
    [(ngModel)]="newTodoTitle"
    (keyup.enter)="addTodo()"
  />
  <button *appPermission="'canCreate'" (click)="addTodo()">Add</button>

  <ul>
    <li *ngFor="let todo of todos">
      <input type="checkbox" [(ngModel)]="todo.completed">
      <span *ngIf="!todo.editing">{{ todo.title }}</span>
      <input *ngIf="todo.editing" type="text" [(ngModel)]="todo.title">
      <button *appPermission="'canEdit'" (click)="editTodo(todo)">
        {{ todo.editing ? 'Save' : 'Edit' }}
      </button>
      <button *appPermission="'canDelete'" (click)="deleteTodo(todo.id)">Delete</button>
    </li>
  </ul>
</div>
